body {
  background-image: url(/imgs/Group\ 232.png);
  background-repeat: no-repeat;
  background-color: white;
  width: 375px;
  height: 812px;
  background-size: 375px 812px;
  margin: 0;
}

/* .mockup {
  background-image: url(/imgs/X\ -\ 2.png);
  position: absolute;
} */

.pop-up {
  display: none;
  flex-direction: column;
  background-color: rgba(56, 56, 56, 0.308);
  width: 375px;
  height: 812px;
}
.show {
  display: flex;
}

.btn-chat {
  border-radius: 90%;
  width: 59px;
  height: 59px;
  background-color: #f14444;
  text-align: center;
  margin-top: 662px;
  margin-left: 297px;
  display: flex;
  justify-content: center;
  align-items: center;
}
}

.header {
  position: absolute;
  width: 375px;
  height: 162px;
  left: 0px;
  top: 43px;
  background: linear-gradient(82.13deg, #662c62 8.73%, #f93103 114.88%);
  box-shadow: 0px -8px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 0px 0px;
}

.header-text {
  position: absolute;
  width: 293px;
  height: 66px;
  left: 41px;
  top: 30px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  color: white;
}

.chat-bot {
  position: absolute;
  width: 375px;
  height: 607px;
  left: 0px;
  top: 205px;
  background-color: #f1f1f1;
}

.chat-field {
  display: flex;
  flex-direction: column;
}

.msg {
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  margin: 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
}

.msg-received {
  background: linear-gradient(95.54deg, #465efc 8.11%, #672d63 88.27%);
  border-radius: 10px;
  color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  align-self: flex-start;
}

.msg-sent {
  background-color: #dbe2fc;
  border-radius: 10px;
  color: black;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  align-self: flex-end;
}

.msg-field {
  margin-top: 16px;
  background-color: #f9f3f3;
  width: 75%;
  height: 10%;
  border-radius: 16px 0 0;
  border-color: #f5f5f5;
  bottom: 0;
  position: absolute;
}

.btn-send {
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-radius: 0 12px 0 0;
  height: 66px;
  width: 88px;
  border: 1px inset;
  border-color: #d6d6d6;
}
